* {
  background: transparent;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 0;
}

#app {
  background-color: #357960;
  height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
}

#content {
  color: #2c3e50;
  display: grid;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr;
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
  width: 90vw;
}
@media screen and (max-width: 345px) {
  #content {
    grid-template-rows: 160px 1fr;
  }
}
@media screen and (min-width: 650px) {
  #content {
    grid-template-rows: 210px 1fr;
  }
}
#content header {
  background-color: white;
  grid-area: 1/1/2/2;
}
#content header h1 {
  font-family: "Charm", Arial, sans-serif;
  font-size: 2em;
  text-align: center;
}
#content header #NavBar {
  display: block;
  height: 100%;
  max-width: 800px;
  width: 100%;
}
#content header #NavBar a {
  color: #2c3e50;
  text-decoration: none;
}
#content header #NavBar img {
  width: 106px;
}
#content header #NavBar nav {
  height: 130px;
  margin: 0 auto;
  width: 540px;
}
#content header #NavBar .nav-item {
  display: inline;
  float: left;
  height: 128px;
  list-style-type: none;
  margin: 1px;
}
#content header #NavBar p {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: -8px;
  text-align: center;
  width: 106px;
}
#content header #NavSlider {
  height: 100%;
  width: 100%;
}
#content header #NavSlider * {
  display: block;
}
#content header #NavSlider a {
  color: aliceblue;
}
#content header #NavSlider h1 {
  font-size: 2.5em;
  margin-left: 40px;
  margin-top: 20px;
}
#content header #NavSlider img {
  border: 1px solid aliceblue;
  border-radius: 2px;
  display: inline;
  height: 79px;
}
#content header #NavSlider .nav-item {
  align-items: center;
  display: flex;
  height: 101px;
  justify-content: left;
  width: 220px;
}
#content header #NavSlider p {
  display: inline;
  margin-left: 20px;
}
@media screen and (max-width: 345px) {
  #content header #NavSlider h1 {
    margin-left: 60px;
  }
}
#content #container {
  background-color: white;
  grid-area: 2/1/3/2;
  margin: 0 auto;
  padding: 0 2% 10%;
  overflow-y: scroll;
  width: 96%;
}
@media screen and (min-width: 650px) {
  #content #container {
    padding-bottom: 2%;
  }
}
#content #container main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, max-content);
  grid-row-gap: 10px;
}
#content #container main a:link {
  color: #2c3e50;
}
#content #container main .bookings {
  display: block;
  margin: 0 auto 10px;
  text-align: center;
  width: 90%;
}
#content #container main .break {
  margin: 25px auto;
}
#content #container main #contact-form {
  margin: 5px auto 0;
  max-width: 390px;
  width: 95%;
}
#content #container main #contact-form * {
  border: 1px solid #2c3e50;
  border-radius: 3px;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  width: 99%;
}
#content #container main #contact-form li {
  all: unset;
}
#content #container main #contact-form .question {
  border: none;
  margin: 0;
  width: 120px;
}
#content #container main #contact-form .message {
  height: 120px;
}
#content #container main #contact-form .submit {
  background-color: aliceblue;
  width: 90px;
}
@media screen and (min-width: 650px) {
  #content #container main #contact-form * {
    width: 250px;
  }
  #content #container main #contact-form .submit {
    margin-left: 120px;
  }
}
#content #container main img {
  display: block;
  margin: 10px auto;
  max-width: 616px;
}
#content #container main figure img {
  border: 1px solid #2c3e50;
  border-radius: 5px;
  vertical-align: middle;
  width: 95%;
}
#content #container main li {
  margin: 0;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  position: relative;
}
#content #container main li:after {
  content: "";
  background: #357960;
  display: block;
  height: 0.5em;
  left: 0;
  margin-left: 3px;
  position: absolute;
  top: 0.4em;
  transform: rotate(45deg);
  width: 0.5em;
}
#content #container main ul {
  list-style: none;
  margin: 5px;
  padding: 0;
}
#content #container main #special-offers {
  text-align: center;
}
#content #container main #special-offers li {
  all: unset;
}
#content #container main .treatments li {
  display: inline;
  float: left;
  width: 170px;
}
#content #container main .upper-left {
  grid-area: 1/1/2/2;
}
#content #container main .upper-left img {
  margin: 5px auto;
  max-width: 400px;
}
#content #container main .upper-right {
  grid-area: 2/1/3/2;
}
#content #container main .lower-full {
  grid-area: 3/1/4/2;
}
#content #container main .lower-split {
  grid-area: 3/1/4/2;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}
#content #container main .lower-left {
  grid-area: 1/1/2/2;
}
#content #container main .lower-right {
  grid-area: 2/1/3/2;
}
@media screen and (min-width: 650px) {
  #content #container main {
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(2, max-content);
    grid-column-gap: 20px;
  }
  #content #container main .upper-left img {
    max-width: 230px;
  }
  #content #container main .upper-right {
    grid-area: 1/2/2/3;
  }
  #content #container main .lower-full {
    grid-area: 2/1/3/3;
  }
  #content #container main .lower-split {
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  #content #container main .lower-right {
    grid-area: 1/2/2/3;
  }
}

/*# sourceMappingURL=main.css.map */
