* {
  background: transparent;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

#app {
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 94vh;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  padding: 2vw;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  width: 94vw;
}

.center {
  border: 1px solid #2c3e50;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  width: 90%;
}

#container {
  display: inline-block;
  margin: 0 auto 10px;
  max-width: 800px;
  width: 94vw;
}

h1 {
  text-align: center;
}

li {
  margin: 0;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  position: relative;
}

li:after {
  content: "";
  height: 0.4em;
  width: 0.4em;
  background: #357960;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: 0.25em;
  left: 0;
}

section {
  width: 100%;
}

ul {
  list-style: none;
  margin: 1em;
  padding: 0;
}

/* layout */

main {
  display: grid;
  grid-template-columns: 94vw;
  grid-template-rows: repeat(3, max-content);
  grid-row-gap: 10px;
  width: 100%;
}

.upper-left {
  grid-area: 1 / 1 / 2 / 2;
}
.upper-right {
  grid-area: 2 / 1 / 3 / 2;
}
.lower-full {
  grid-area: 3 / 1 / 4 / 2;
}

@media screen and (min-width: 650px) {
  main {
    grid-template-columns: 360px 1fr;
    grid-template-rows: repeat(2, max-content);
    grid-column-gap: 10px;
  }
  .upper-left {
    grid-area: 1 / 1 / 2 / 2;
  }
  .upper-right {
    grid-area: 1 / 2 / 2 / 3;
  }
  .lower-full {
    grid-area: 2 / 1 / 3 / 3;
  }
}
